.main_content {
  padding: 2rem;
}

.section {
  margin-top: 2rem;
}

.ordersGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.orderRow {
  padding: 1rem;
}

.orderInfo {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
  > * {
    min-width: 0;
  }
}

.dateCell {
  white-space: nowrap;
}

.orderItems {
  padding: 1rem;
  background-color: var(--mantine-color-gray-0);
  overflow-x: auto;
}

.productList {
  display: grid;
  gap: 0.5rem;
}

.productItem {
  &.cancelled {
    opacity: 0.5;
  }

  .productContent {
    display: grid;
    grid-template-columns: 60px 1fr auto;
    gap: 1rem;
    align-items: center;
  }
}

.productImage {
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-gray-3);
}
