.main_content {
  padding: 2rem;

  > * + * {
    margin-top: 2rem;
  }
}

.ordersGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  
  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.orderRow {
  padding: 1rem;
}

.orderInfo {
  display: grid;
  gap: 1rem;
  
  .orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .orderTitle {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .orderWaiting {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  .orderDetails {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.lineItems {
  display: grid;
  gap: 0.5rem;
}

.lineItem {
  padding: 0.5rem;
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-sm);

  .lineItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .lineItemDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .variantInfo {
      display: flex;
      gap: 1rem;
    }

    .variantProgress {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
}
