.progress {
  border-width: 1px !important;
  border-style: solid !important;
  background: transparent !important;

  // Nouveau
  &.new {
    border-color: #845ef7 !important;
    color: #845ef7 !important;
  }

  // Incomplet
  &.incomplete {
    border-color: #646261 !important;
    color: #5c5a55 !important;
  }

  // Complet
  &.complete {
    border-color: #53c593 !important;
    color: #1b774f !important;
    background-color: #cff8e7 !important;
  }
}
