.view {
  min-height: 100vh;
  display: flex;
}

.main_content {
  margin-top: 40px;

  flex-basis: 700px;
  padding-inline: 32px;
}
.section {
  margin-top: 20px;
}

.section_subtitle {
  margin-top: 12px;
  color: #525252;
}

.rows {
  margin-top: 12px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;

  gap: 4px;
}

.row {
  padding-inline: 40px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  background-color: white;
  border: 1px solid #E0E0E0;

  cursor: pointer;

  &:hover {
    border: 1px solid #a9a9a9;
  }
}

.row_active {
  border: 2px solid #858585;
  &:hover {
    border: 2px solid #858585;
  }
}