@use "src/style/_mantine.scss" as *;

.view {
  background-color: white;

  padding-inline: 48px;
  flex: 1;
  display: none;
}

.view_visible {
  display: block;
}

.content {
  width: 700px;
  position: fixed;
}

.header {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
}

.cross_container {
  position: fixed;

  top: 20px;
  right: 20px;

  padding: 20px;
  cursor: pointer;
}