@use "src/style/_mantine.scss" as *;

.view {
  background-color: white;

  flex: 1;
  display: none;

  height: 100vh;
  width: 900px;
  position: fixed;
  right: 0;

  overflow: auto;
}

.view_visible {
  display: block;
}

.content {
  padding-left: 48px;
  padding-right: 98px;
}

.header {
  margin-top: 40px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cross_container {
  position: fixed;

  top: 20px;
  right: 20px;

  padding: 20px;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--mantine-color-orange-6);
}