
.view {
  border-radius: 10px;

  padding-inline: 20px;
  padding-block: 8px;

  display: inline-block;
  font-weight: 600;
}

.view_variant_orange {
  background-color: #F4EDE2;
  color: #8B5220;
}

.view_variant_green {
  background-color: #E2F4EC;
  color: #208B61;
}
